$coloryellow:#f3aa4e;
$colorblue: #111820;
$colornav:#272a2c;

body {
    background-color:$colorblue;
    font-family: Arial, Helvetica, sans-serif;
    p{
        text-align: center;
    }   

    h2{
        text-align: center;
    }

    h4 {
        text-align: center;
    }
}
.yellowlines{
    padding: 0;
    margin: -35vw 0 0 -20vw;
    opacity: 0.40;
    width: 80vw;
    z-index: -2;
    float: left;
    transform: rotate(80deg);
    position: absolute;

}
//---START OF NAVBAR--//
.nav{
    text-align: right;
    height: 50px;
    line-height: 50px;
    width: 100%;
    background-color: $colornav;
}
.menu{

    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    margin-right: 160px;

    
}

.menu a{
    clear: right;
    text-decoration: none;
    color:white;
    margin: 0 10px;
    line-height: 50px;
}

.menu a:hover{

    color: $coloryellow;
    font-size: 16px;

    
}

label {
    margin: 0 40px 0 0;
    font-size: 20px;
    line-height: 50px;
    display: none;
    width: 30px;
    float: right;
    color: white;
}

#toggle {
    display: none;
}

//---END OF NAVBAR--//

#hello{
    margin-top: 9vw;
    display: flex;
    justify-content: center;
    size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: $coloryellow;
}
 #name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
    letter-spacing: 1vw;
    margin: auto;
}

 #job{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    text-align: center;
}

#image{
margin-top: 12vw;
// background-color: red;
width: 100%;
display: flex;
justify-content: center;
position: absolute;
z-index: 3;
}

#image .profilepicture {
    margin-top: -6vw;
    width: 12vw;
    position: absolute;
    z-index: 2;
}

#image .circle {
    background-color: white;
    position: absolute;
    width: 14vw;
    height: 14vw;
    border-radius: 50vw;
    margin-top: -7vw;
    opacity: 0.5;
    
}

 .moreabout{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 9vw;
    border-style: solid;
    width: 12vw;
    padding: 0.5vw;

}
.moreabout:hover{
    color: $colorblue;
}

section #container{
    margin: 12vw 0 0 0;
    background-color: $coloryellow;
    width: 100%;
    position: absolute;
    align-content: center;

}

.aboutcontent{
    margin-top: 20vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}
.skills{

    background-color:$coloryellow;
    width: 100%;
    display: flex;
    justify-content: center;


    .development{
        margin-left: 42vw;
    }


   .devtools{
        width: 4vw;
    }

    .destools{
        width: 3vw;
        margin-right: 20px;
    }

}

//--------------Media Queries HERE----------------------//
@media only screen and (max-width:500px){
    
    label{
        display: block;
        cursor: pointer;
    }
    .menu{
        text-align: center;
        width: 100%;
        background-color: red;
        display: none;
        
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin:0;
        
    }
    #toggle:checked + .menu{
        display: block;
    }

    #job {
        font-size: 10px;
    }

    #image .profilepicture {
        margin-top: -10vw;
        width: 30vw;
        position: absolute;
        z-index: 2;
    }
    
    #image .circle {
        opacity: 0;
        
    }

    .button {
        width: 500px; 
        // height: 40vw;
        // background-color: red;
        margin-top: 20vw;
    }
    .moreabout{
        margin-top: 20vw;
        font-size: 4vw;
        border-style: solid;
        padding: 0vw;
        }

    section #container{
        margin:50vw 0 0 0;
    }

    .skills{
        margin:auto;
        .development{
            margin-left: 5vw;
            .devtools{
                width:10vw;
            }
            .destools{
                width: 10vw;
            }
            
        }
    }

}