$coloryellow:#f3aa4e;
$colorblue: #111820;
$colornav:#272a2c;

body {
    background-color: $colorblue;
}
.yellowlines{
    padding: 0;
    margin: -35vw 0 0 -20vw;
    opacity: 0.30;
    width: 80vw;
    z-index: -2;
    float: left;
    transform: rotate(80deg);

}
//---START OF NAVBAR--//
.nav{
    text-align: right;
    height: 50px;
    line-height: 50px;
}
.menu{

    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    background-color: $colornav;

    
}
.menu a{
    clear: right;
    text-decoration: none;
    color:white;
    margin: 0 10px;
    line-height: 50px;
}

label {
    margin: 0 40px 0 0;
    font-size: 20px;
    line-height: 50px;
    display: none;
    width: 30px;
    float: right;
    color: white;
}

#toggle {
    display: none;
}

//---END OF NAVBAR--//

#hello{
    margin-top: 7vw;
    display: flex;
    justify-content: center;
    size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: $coloryellow;
}
 #name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
    letter-spacing: 1vw;
    margin: auto;
}

 #job{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    text-align: center;
}
section #container{
    margin-top: 12vw;
    background-color: $coloryellow;
    width: 100vw;
    height: 50vw;
    position: absolute;

}
section #container #image{
    display: flex;
    justify-content: center;
}
#image .profilepicture {
    margin-top: -6vw;
    width: 12vw;
    z-index: 2;
}

#image .circle {
    background-color: white;
    position: absolute;
    width: 14vw;
    height: 14vw;
    border-radius: 50vw;
    margin-top: -7vw;
    opacity: 0.5;
    
}

 .moreabout{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 6vw;
    border-style: solid;
    width: 12vw;
    padding: 0.5vw;

}
.moreabout:hover{
    color: $colorblue;
}
//--------------Media Queries HERE----------------------//
@media only screen and (max-width:500px){
    label{
        display: block;
        cursor: pointer;
    }
    .menu{
        text-align: center;
        width: 100%;
        background-color: red;
        display: none;
        
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin:0;
        
    }
    #toggle:checked + .menu{
        display: block;
    }

    #job {
        font-size: 10px;
    }

    .profilepicture {
        width: 20vw;
    }

}